/*@media (min-width: 992px) {*/
    /*body {*/
        /*padding-left: 0px;*/
    /*}*/
/*}*/
html
{

}
body {
    /*background: rgb(42, 15, 50);*/
    /*background: #8B2E0E;*/
    /*background: #23110c;*/
    /*background-image: url("../img/bg.jpg");*/

    background-attachment: fixed;
    /*background-position: 65% 100%;*/
    /*background-position: 15%; good alt*/
    /*background-image: url("../img/suru-desktop-wallpaper-ubuntu-vivid.jpg");*/

    /*background-image: url("../img/ubuntu1204ltswallpapers-large_000.jpg");*/

    background-position: 75% 95%;
    background-image: url("../img/DAZai.jpg");
}
a{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
#helpDialog
{
    width: 900px;
}

.main-container
{
    padding: 0 !important;
    margin: 0 !important;
}
.btn-custom
{
    background-color: hsl(331, 64%, 17%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ab2566", endColorstr="#470f2a");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ab2566), to(#470f2a));
    background-image: -moz-linear-gradient(top, #ab2566, #470f2a);
    background-image: -ms-linear-gradient(top, #ab2566, #470f2a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab2566), color-stop(100%, #470f2a));
    background-image: -webkit-linear-gradient(top, #ab2566, #470f2a);
    background-image: -o-linear-gradient(top, #ab2566, #470f2a);
    background-image: linear-gradient(#ab2566, #470f2a);
    border-color: #470f2a #470f2a hsl(331, 64%, 11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
    -webkit-font-smoothing: antialiased;
}
.top-section
{
    /*background-color: gray;*/
    /*background: no-repeat center center;*/
    /*background-attachment: scroll;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*-o-background-size: cover;*/
    /*margin-bottom: 50px;*/
    padding: 0 !important;
    margin: 0 !important;
    /*background-image: url("../img/WhiteTilesAtop.png");*/
    height:300px;
}

.header-text
{
    color: black;
}

.custom .navbar.navbar-fixed-top .navbar-inner{
    background: rgba(255, 255, 255, 1);
}

.navbar .navbar-collapse .nav .nav-item:hover,
.navbar .navbar-collapse .nav .nav-item:focus
{
    background-color: transparent;
}

.curve-borders
{
    border-radius: 7px 7px 7px 7px;
}
.curve-top-border
{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.curve-bottom-border
{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.terminal
{
    background-color: darkgray;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.8);
    color:white;
    padding:0;
}

.terminal-head
{
    background: #333333
}
.terminal-body
{
    background: #5E2750;
    min-height: 200px;
    max-height: 550px;
    overflow-y: hidden;
}

.terminal-history:focus,
.terminal-command-line:focus
{
    outline-width: 0;
}

.terminal-command-line
{
    background: inherit;
    height: inherit;
    margin: 0 !important;
    border: none !important;
}

.terminal-command-line-label
{

    width: 25%;
    height: inherit;
    background: inherit;
    margin: 0 !important;
    border: none !important;
}

.terminal-text-area
{
    width: inherit;
    min-height:25px;
    max-height:450px;
    resize:none;
    margin: 0 !important;
    border: none !important;
    outline: none;
    background: inherit;
}
.terminal-text
{
    font-family: Ubuntu;
    font-size: 16px;
}

.intro-text
{
    font-family: Ubuntu;
    color: white;
    font-size: 4em;
}
.intro-text-sm
{
    font-family: Ubuntu;
    color: white;
    font-size: 1.4em;
}
.intro-text-area
{
    height:475px;
    max-height: 700px;
    /*min-width: 750px;*/
    width: 100%;
    background: inherit;
    resize:none;
    margin: 0 !important;
    border: none !important;
    outline: none;
    overflow: hidden;
}
.dotless
{
    list-style-type: none;
}
.np
{
    padding: 0 !important;
    margin: 0 !important;
}

.short-break
{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.project-panel
{
    position:relative;
    margin-top: 10px;
    min-height: 460px;
    max-height: 800px;
    color: white;
    /*background-color: #DD4814;*/
    /*background-color: #514C52;*/
    background-color: rgba(81,76,85,0.58);
    border-color: #070707;
}

/*

====== Zoom effect ======

*/
.popout {
    animation: popout .5s ease;
    -webkit-animation: popout .5s ease;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    /*z-index: -1;*/
}
@keyframes popout {
    from{transform:scale(1)}
    80%{transform:scale(1.15)}
    to{transform:scale(1.1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(1)}
    80%{-webkit-transform:scale(1.15)}
    to{-webkit-transform:scale(1.1)}
}
.popout > .container > .panel
{
    box-shadow: 3px 3px 5px #040823;
}
#resume
{
    background: white;
    /*background-color: rgba(81, 76, 82, 0.54);*/
    margin-top:55px;
    margin-bottom:65px;
}

#terminalbutton
{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.clickable
{
    cursor: pointer;
}