<div class="modal fade" id="helpModal">
    <div class="modal-dialog" id="helpDialog">
        <!--<div class="row">-->
            <!--<div class="col-sm-12">-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Help Menu</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Using the command line, you can interact with this website and take control of your experience.</p>
                                <p>The terminal has a set of acceptable commands that will let you navigate the pages of the website and manipulate visible content.</p>
                                <p>In addition to this, the terminal emulates key convenience features such as using the up and
                                    down keys for navigating command history and the use of tab for autocompleting acceptable arguments and options.</p>
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-right"><strong>Command Listing</strong></h4>
                                <p>Try out all the commands to see what they do.</p>
                                <p><strong>Commands:</strong>&nbsp;&nbsp;<code>add cd git help ls man mv rm</code></p>

                                <p>Use the <code>man</code> command to learn more about how to use a specific command.</p>
                                <p><strong>Example:</strong> Bring up the man page for the <code>add</code> command.</p>
                                <div style="display: block">
                                    <div><code>1. man add</code></div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-right"><strong>Navigating Pages</strong></h4>
                                <p>Using the <code>ls</code> command, you can see available pages you can navigate to.</p>
                                <p>Choose one of them as an argument to the <code>cd</code> command to change the browser location.</p>
                                <p><strong>Example:</strong> See available pages for navigation and then go to the resume page.</p>
                                <div style="display: block">
                                    <div><code>1. ls</code></div>
                                    <div><code>2. cd resume</code></div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-right"><strong>Manipulating Content</strong></h4>
                                <p>Using the <code>add</code> and <code>rm</code> commands, you can shape what information is being displayed on the view.</p>
                                <p>Use the tab key to help choose pieces of content.</p>
                                <p>Use of the <code>.</code> argument with <code>add</code> or <code>rm</code> command will add or remove all components, respectively.</p>
                                <p><strong>Example:</strong> Change pages to the sandbox, add some components to the view, then clear everything.</p>
                                <div style="display: block">
                                    <div><code>1. cd sandbox</code></div>
                                    <div><code>2. add navbar</code></div>
                                    <div><code>3. add project tylersouthmayd.com</code></div>
                                    <div><code>5. rm .</code></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            <!--</div>-->
        <!--</div>-->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->