<div class="container curve-borders" id="resume">
    <!-- Header -->
    <div class = "panel panel-default" style = "margin-top: 20px;">
        <div class = "panel-body">
            <div class = "text-center">
                <h2>Tyler Southmayd</h2>
                <hr/>
                <h4>Tyler.Southmayd@UConn.edu</h4>
                <h4>LinkedIn: <a href="https://www.linkedin.com/in/TylerSouthmayd">https://www.linkedin.com/in/TylerSouthmayd</a></h4>
            </div>
        </div>
    </div>
    <!-- Header -->

    <!-- Content -->
    <div class = "row">

    <!-- Left Column -->
    <div class = "col-sm-3">

        <!-- Skills -->
        <div class = "well well-sm">
            <h3>Skills</h3>
            <ul class="np">
                <li class="dotless">Java / OO Design</li>
                <li class="dotless">AngularJS</li>
                <li class="dotless">PHP</li>
                <li class="dotless">Git / SourceTree / GitHub</li>
                <li class="dotless">MySQL / phpMyAdmin</li>
                <li class="dotless">Linux</li>
                <li class="dotless">Twitter Bootstrap / UI-Bootstrap</li>
                <li class="dotless">HTML5 / JavaScript / CSS</li>
                <li class="dotless">JSON / XML</li>
                <li class="dotless">Raspberry Pi</li>
            </ul>
        </div>
        <!-- Skills -->

        <hr/>

        <!-- Relevant Courses -->
        <div class = "well well-sm">
            <h3>Relevant Courses</h3>
            <ul class="np">
                <li class="dotless">Data Structures and Algorithms</li>
                <li class="dotless">Algorithms and Complexity</li>
                <li class="dotless">Intro to Software Engineering</li>
                <li class="dotless">Object Oriented Programming</li>
                <li class="dotless">Theory of Computation</li>
                <li class="dotless">Computer Architecture</li>
                <li class="dotless">Computer Networks and Data</li>
                <li class="dotless">Databases</li>
                <li class="dotless">Operating Systems</li>
            </ul>
        </div>
        <!-- Relevant Courses -->

        <hr/>

        <!-- Academic Recognition -->
        <div class = "well well-sm">
            <h3>Academic Recognition</h3>
            <!--<p><strong>Member</strong>: Upsilon Pi Epsilon - Honors Computer Science Fraternity</p>-->
            <p class="np"><strong>Member</strong>:</p>
            <ul>
                <li class="dotless" style="margin-left: -20px;"><strong>Upsilon Pi Epsilon</strong> - Honors Computer Science Fraternity</li>
                <li class="dotless" style="margin-left: -20px;"><strong>National Society of Collegiate Scholars</strong> - Academic Honor Society</li>
            </ul>
            <p><strong>Dean's List Engineering</strong>: Entire First Two Years at UConn</p>
        </div>
        <!-- Academic Recognition -->

        <hr/>

        <!-- Positions Held -->
        <div class = "well well-sm">
            <h3>Positions Held</h3>
            <p class="np"><strong>Fall 2015</strong></p>
            <p><strong>CTO</strong>: UConn Super Smash Bros. Club</p>
        </div>
        <!-- Positions Held -->

    </div>
    <!-- Left Column -->

    <!-- Right Column -->
    <div class = "col-sm-9">

        <!-- Education -->
        <h3>Education</h3>
        <div class = "row">
            <div class = "col-sm-12">
                <h4 class="np">
                    Studying <strong>Computer Science and Engineering</strong> (B.S.E.) with a Minor in
                    <strong>Mathematics</strong> at the <strong>University of Connecticut, Storrs, CT</strong></h4>
                <span style = "margin-left: 25px;">Cumulative GPA: 3.633 / 4.000</span>
            </div>
            <div class = "col-sm-6">
                <h5 class="np">Expected Graduation</h5>
            </div>
            <div class = "col-sm-6 text-right">
                <h5 class="np"><strong>May 2016</strong></h5>
            </div>
        </div>
        <!--<div class = "row">-->
        <!--<div class = "col-sm-6">-->
        <!--<h5 class="np">Graduated Wilton High School | Wilton, CT</h5>-->
        <!--</div>-->
        <!--<div class = "col-sm-6 text-right">-->
        <!--<h5 class="np"><strong>June 2012</strong></h5>-->
        <!--</div>-->
        <!--</div>-->
        <!-- Education -->

        <hr class="short-break"/>

        <!-- Work Experience -->
        <h3>Work Experience</h3>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="np"><strong>North Mill Equipment Finance, LLC</strong> | June 2014 – PRESENT | Norwalk, CT</h3>
                <h4 class="np">Software Developer</h4>
                <ul>
                    <li>
                        Full-stack developer on a web-based broker engagement system intended
                        to streamline the process of asset financing.
                    </li>
                    <li>
                        The system is hosted on the cloud computing platform Salesforce,
                        and integrates its native languages, Visualforce, Apex, and SOQL, with the AngularJS framework and Twitter Bootstrap.
                    </li>
                    <li>
                        Took heavy responsibility for code maintenance of the system as well as the development of new features and enhancements,
                        including a full-stack implementation of a credit stipulation review system, an address/geolocation autocomplete search using the Google Maps API,
                        parsing large .XML files into usable objects, and refactoring core functionality to use the AngularJS framework.
                    </li>
                    <li>Worked in multiple Git repositories using the SourceTree Git UI and GitHub.</li>
                    <li>Continue work during the school year as a remote developer.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline well well-sm np">
                    <li><strong>What I Used: </strong></li>
                    <li class="dotless">AngularJS</li>
                    <li class="dotless">JavaScript</li>
                    <li class="dotless">Git/SourceTree</li>
                    <li class="dotless">Twitter Bootstrap</li>
                    <li class="dotless">HTML5/CSS</li>
                    <li class="dotless">Salesforce</li>
                    <li class="dotless">Apex</li>
                    <li class="dotless">SOQL</li>
                </ul>
            </div>
        </div>
        <!-- Work Experience -->

        <hr/>

        <!-- Projects -->
        <h3>Projects</h3>

        <div class="row">
            <div class="col-sm-12">
                <h3 class="np"><strong>TylerSouthmayd.com</strong> | July 2015 - PRESENT</h3>
                <ul>
                    <li>Full-stack implementation of handling user interaction with a pseudo-linux command line to produce outcomes such as changing browser location,
                        adding items to the view, and interacting with what is currently being displayed. </li>
                    <li>Makes use of a MySQL driven PHP object model that is integrated with the AngularJS framework, Twitter Bootstrap, and JQuery.</li>
                    <li>Configuration of the site's LAMP stack, port forwarding, and hosting all on a Raspberry Pi minicomputer.</li>
                    <li>Version control practiced using a combination of command line Git, the SourceTree UI, and GitHub.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline well well-sm np">
                    <li><strong>What I Used: </strong></li>
                    <li class="dotless">Linux (Raspbian)</li>
                    <li class="dotless">Raspberry Pi</li>
                    <li class="dotless">MySQL</li>
                    <li class="dotless">PHP</li>
                    <li class="dotless">Git</li>
                    <li class="dotless">JavaScript</li>
                    <li class="dotless">AngularJS</li>
                    <li class="dotless">Twitter Bootstrap</li>
                    <li class="dotless">HTML5/CSS</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3><strong>UConnSmash.com</strong> | November 2014 - May 2015, August 2015 - PRESENT</h3>
                <ul>
                    <li>Design and implementation of an AngularJS SPA for the club website, including a ranking system for the club members and logging of events. Front end implemented with HTML5, CSS, JavaScript, Twitter Bootstrap, Angular UI-Bootstrap</li>
                    <li>MySQL and PHP used as back end object model for hosting JSON-based communications with AngularJS.</li>
                    <li>Worked in a Git repository with two others using a combination of command line Git, the SourceTree UI, and GitHub.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline well well-sm np">
                    <li><strong>What I Used: </strong></li>
                    <li class="dotless">LAMP</li>
                    <li class="dotless">Git</li>
                    <li class="dotless">JavaScript</li>
                    <li class="dotless">AngularJS</li>
                    <li class="dotless">Twitter Bootstrap</li>
                    <li class="dotless">HTML5/CSS</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Interactive HTML Editor</strong> | Spring 2014</h3>
                <ul>
                    <li>Used Java and the JHotDraw framework to implement a piece of software that would support users manipulating visual representations of HTML elements on a grid to create a simple web page without knowledge of HTML. </li>
                    <li>On user command, the software would parse the grid, then identify the elements and sort them based on their positions to produce dynamically generated HTML. </li>
                    <li>Worked in a Git repository with two others as version control.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline well well-sm np">
                    <li><strong>What I Used: </strong></li>
                    <li class="dotless">Java</li>
                    <li class="dotless">Git</li>
                    <li class="dotless">JHotDraw</li>
                    <li class="dotless">HTML</li>
                </ul>
            </div>
        </div>
        <!-- Projects -->

    </div>
    <!-- Right Column -->

    </div>
    <!-- Content -->

    <hr class="short-break"/>

    <!-- Footer -->
    <div class = "row">
        <div class = "col-sm-12 text-center">
            <h4>This resume was coded by me using Twitter Bootstrap.</h4>
            <a href="https://github.com/TylerSouthmayd/PersonalSite/blob/master/views/resume.html">View Source Code: https://github.com/TylerSouthmayd/PersonalSite/blob/master/views/resume.html</a>
        </div>
    </div>
    <!-- Footer -->
</div>
