<div class="container curve-border">
    <div ng-controller="TerminalController" class="black-terminal">
        <div class="row terminal-head curve-top-border">
            <div class="col-sm-12 terminal-text">
                {{user}}@pseubuntu
            </div>
        </div>
        <div class="row terminal-body curve-bottom-border">
            <div class="col-sm-12 terminal-shell">
                <div class="row word-wrap">
                    <div class="col-sm-12">
                        <textarea  class="terminal-text terminal-text-area" ng-model="terminalBody"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 terminal-text terminal-row" ng-show="readyForInput">
                        <span class="terminal-command-line-label">
                            {{user}}@pseubuntu:
                        </span>
                            <input type="text" class="terminal-command-line test" ng-model="command"  ng-keypress="captureKeyPress($event);" maxlength="100"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type = "text/javascript" src = "../js/terminalInit.js"></script>