<div class="container">
    <div class="panel panel-default project-panel">
        <div class="panel-heading">
            <h1 class="panel-title">Chinook Music Web Interface</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <p>Assigned as a databases project, developed an interactive web interface for the Chinook music service database.</p>
                    <p>We extended the traditional Chinook database to provide an architecture for placing orders and keeping track of user information, playlist creation, and order history.</p>
                    <p>PHP was used to interact with the MySQL database and provide data to the front end, which was built with AngularJS and Twitter Bootstrap.</p>
                </div>
                <div class="col-sm-8">

                </div>
            </div>
        </div>
    </div>
</div>