<div class="container">
    <div class="panel panel-default project-panel">
        <div class="panel-heading">
            <h1 class="panel-title">Interactive HTML Editor</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <p>A software engineering course project during my Sophomore year - the HTML Editor involved users adding and manipulating visual representations of HTML elements on a grid.
                        When the user was done, the software would parse the grid elements and generate the equivalent HTML code for what the user created.</p>
                    <p>This was my first substantial project and was written in Java with the JHotDraw framework and Java Swing.</p>
                    <p> </p>
                </div>
                <div class="col-sm-8">

                </div>
            </div>
        </div>
    </div>
</div>