<div class="container">
    <div class="panel panel-default project-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="panel-title">TylerSouthmayd.com</h1>
                </div>
                <div class="col-sm-6"><span class="pull-right">Date</span></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <p>At the end of the Summer of 2014, I was armed with my RaspberryPi home web server and could finally start building out my ideas for my personal website.</p>
                    <p><strong>The Idea?</strong> Let the user define what they see on my website through interacting with a command line interface (CLI) that I create.</p>
                    <p>I wanted to have a personal website, but going through the visual design phase was painfully boring and uninteresting to me - so I said screw it, let them decide how it looks!</p>
                    <p>Focusing more on building out the interactions with my CLI,
                        I was able to implement data driven auto completion and command verification,
                        the logic to navigate to different pages, emulate linux CLI features such as command history and man pages,
                        and most importantly, to add and remove items from the view. </p>
                </div>
                <div class="col-sm-8">

                </div>
            </div>
        </div>
    </div>
</div>