<div class="container">
    <div class="panel panel-default project-panel">
        <div class="panel-heading">
            <h1 class="panel-title">UConnSmash.com</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <p>UConnSmash.com was as one of my earliest web projects, and initially was just an information hub about the Melee club events at UConn.</p>
                    <p>Since then, the site has evolved to provide personalized information to each participant in the club, as well as establishing a skill based ranking system based on the Microsoft Trueskill algorithm.</p>
                    <p>Tournament results are aggregated into our MySQL database with PHP and then run through the ranking algorithm, we then provide a front end with AngularJS and Twitter Bootstrap to show who ranks where.</p>
                    <p>There are also interfaces for individuals to see their statistics such as their history of tournament rankings and the wins and losses of each individual set played.</p>
                </div>
                <div class="col-sm-8">

                </div>
            </div>
        </div>
    </div>
</div>