<div class="container" ng-controller="CarouselController">
    <div class="panel panel-default project-panel curve-borders">
        <div class="panel-heading curve-top-border">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="panel-title">UConnSmash.com</h1>
                </div>
                <div class="col-sm-6"><span class="pull-right">Nov 2014 - May 2015, Aug 2015 - Oct 2015</span></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <p>UConnSmash.com was one of my earliest web projects, and initially was just an information hub about the Melee club events at UConn.</p>
                    <p>Since then, the site has evolved to provide personalized information to each participant in the club, as well as establishing a skill based ranking system based on the Microsoft Trueskill algorithm.</p>
                    <p>Tournament results are aggregated into our MySQL database with PHP and then run through the ranking algorithm, we then provide a front end with AngularJS and Twitter Bootstrap to show who ranks where.</p>
                    <p>There are also interfaces for individuals to see their statistics such as their history of tournament rankings and the wins and losses of each individual set played.</p>
                </div>
                <div class="col-sm-8">
                    <uib-carousel interval="3000">
                        <uib-slide ng-repeat="slide in uconnsmashslides" active="slide.active">
                            <img ng-src="{{slide.image}}" class="img-responsive">
                            <!--<div class="carousel-caption">-->
                            <!--<h4>{{slide.caption}}</h4>-->
                            <!--</div>-->
                        </uib-slide>
                    </uib-carousel>
                </div>
            </div>
        </div>
    </div>
</div>